*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

h1 {
    margin: 5px 0;
    font-size: 26px;
    font-weight: 500;
}

p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: -15px;
    color: gray;
}

img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.ri-close-fill {
    position: relative;
    top: 1.5px;
    font-size: 18px;
}

#container {
    width: 2080px;
    height: 2080px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 240px;
    height: 240px;
    background-color: #f4efef;
    border: 1px solid #dadada;
    float: left;
    margin: 0;
    padding: 10px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: #f4efef;
    display: none;
}

.col {
    height: 100%;
    padding: 2em;
}

.close-btn {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.product-view {
    position: relative;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.product-img {
    flex: 5;
    padding-top: 60px;
}

.product-name {
    width: 100%;
    height: 100%;
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.product-name h1 {
    font-size: 60px;
    letter-spacing: -2px;
}

.cart-btn button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 50px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
}

.suggestions p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
}

.suggestions .box p {
    margin: -15px 0 0 0;
}