*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    margin: 2em auto;
    text-align: center;
    padding: 8px 0;
    background-color: rgba(225, 225, 225, 0.7);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    z-index: 2;
    bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icon-btn {
    opacity: 1;
    outline: none;
    border: none;
    background: none;
    padding: 8px 0;
    transition: 0.5s opacity;
    pointer-events: all;
    font-size: 1rem;
}

/* search modal */
#search-modal {
    display: none;
}

#search-modal.open {
    display: block;
}

.modal-overlay {
    /* background: rgb(194 171 171); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 2;
    background: hsla(0, 0%, 0%, 0.5);
    height: 100%;
    z-index: 10;
}

.modal-container {
    width: 100%;
    /* height: 100%; */
    max-width: 500px;
    background: rgb(245, 240, 240);
    position: absolute;
    right: 2rem;
    top: 1rem;
    bottom: 1rem;
    border-radius: 5px;
    z-index: 11;
}

.close-modal {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 2rem;
}

.search-input {
    width: 90%;
    height: 3rem;
    position: relative;
    top: 5rem;
    left: 1rem;
    right: 1rem;
    padding-left: 1rem;
    letter-spacing: 1px;
    font-size: 1rem;
    border: 1px solid rgb(245, 240, 240);
    border-radius: 1.5rem;
}

/* cart modal */
#cart-modal {
    display: none;
}

#cart-modal.open {
    display: block;
}


h1 {
    /* margin: 5px 0; */
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    margin: -5px 0; 
    /* margin-top: -15px;  */
    margin-top: 5px;
    color: gray;
}

img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    user-select: none;
}

.ri-close-fill {
    position: relative;
    top: 1.5px;
    font-size: 18px;
}

#container {
    width: 2080px;
    height: 2080px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 240px;
    height: 240px;
    background-color: #f4efef;
    border: 1px solid #dadada;
    float: left;
    margin: 0;
    padding: 10px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: #f4efef;
}

.col {
    /* height: 100%; */
    padding: 2em;
}

.close-btn {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
/* 
.product-view {
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-img-container { height: 70vh; }

.product-img-container img {
    height: auto;
}

.product-img {
    flex: 5;
}

.product-name {
    width: 100%;
    height: 100%;
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.product-name h1 {
    font-size: 60px;
    letter-spacing: -2px;
}

.cart-btn button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 50px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
}

.product-info {
    position: relative;
    top: 25%;
} */

.suggestions p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
    margin-bottom: 1rem;
}

.suggestions .box p {
    margin: -15px 0 0 0;
} 

#carouselTrack {
    height: 50vh;
    display: flex;
    gap: 1rem;
}

.product-img-container { height: 70vh; }

.product-img-container img {
    height: auto;
}

.close {
    position: fixed;
    right: 2rem;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50vh;
    padding: 0.6rem;
    font-size: 17px;
    z-index: 999;
}

.close > .ri-close-fill { font-size: 20px; }